/*LIGHT MODE: body background #EEEBD3, window background #40BCD8, border color #39a9db,tab text #5F5449, text color #1c77c3*/
/*DARK MODE: body background #2E0219, Window background #4C5B5C, border color #515052, tab text #D8D4D5, text color*/
html{
	height:100%;
}
body{
	display:flex;
	justify-content:center;
	/*padding-top:80px;*/
	align-items:center;
	height:100%;
	background-color:#EEEBD3;
}

main{
	/*border:3px solid black;
	background-color:#FF0000;*/
	width:700px;
	height:500px;
	display:grid;
	grid-template-rows:1fr 7fr 1fr;
}

#menu{
	display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr;
	padding:10px;
	grid-gap:12px;
	
}

#menu > input{
	background-color:#40BCD8;
	color:#1c77c3;
	font-weight:bold;
	font-size:18px;
	border-radius:10px;
	border:3px solid #39a9db;
}

#menu > input:hover{
	background-color:;
	color:#1c77c3;
}
#mainSec{
	border:3px solid #39a9db;
	background-color:#40BCD8;
	border-radius:15px;
	padding:17px;
	color:#5F5449;
	display:grid;
	grid-template-rows:1fr 2fr;
}
#test{
	opacity:0;
}
#styles > input:hover{
	background-color:;
	color:;
}
#styles > input{
	background-color:#40BCD8;
	color:#1c77c3;
	font-weight:bold;
	font-size:18px;
	border-radius:10px;
	border:3px solid #39a9db;
}
#styles{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	padding:10px;
	grid-gap:12px;
	
}